{% extends '::base.html.twig' %}
{% block title %}Nuevo Cliente{% endblock title %}
{% block stylesheets %}
      <link href="{{ asset('css/formularios.css') }}" type="text/css" rel="stylesheet" />
  {{ parent() }}
{% endblock %}

{% block javascripts %}
     <script src="{{asset('js/jquery-1.9.1.js')}}"></script>
     <script src="{{asset('js/jquery.form.js')}}"></script>
     <script src="{{asset('js/validacionesCliente.js')}}"></script>
  {{ parent() }}
    
{% endblock %}

{% block body %}


   
    <form  action="{{ path('clientes_create') }}" method="post" {{ form_enctype(form) }} class="register" id="registro" >
                
            {{ parent() }}
                  <img class="centrada" src="{{ asset('img/banner-clientes.jpg') }}" />
                 <h1>Registro de Cliente</h1>
                
            <fieldset class="row1">
                <legend>Información Personal</legend>
                   
                <p>
                    {{ form_label(form.nombre, 'Nombre:')}}
                    {{ form_widget(form.nombre)}}
                    {{ form_label(form.apellido, 'Apellido:')}}
                    {{ form_widget(form.apellido)}}
                  
                          
                </p>

                <p>
                    {{ form_label(form.email, 'Correo electrónico*:')}}
                    {{ form_widget(form.email)}}
                    {{ form_label(form.sexo, 'Sexo:')}}
                    {{ form_widget(form.sexo)}}
                    
                </p>
                
                 <p>
                    {{ form_label(form.fechaNacimiento, 'Fecha de Nacimiento:*')}}
                    {{ form_widget(form.fechaNacimiento)}}
                 
                    <p>
                    {{ form_label(form.profesion, 'Profesión')}}
                    {{ form_widget(form.profesion)}}
                    {{ form_label(form.cedula, 'Cédula*:')}}
 
                    {{ form_widget(form.cedula) }}
                     
                    </p>
                     <p><label class="obinfo">*Campos Obligatorios</label><p>
                </p>
                

            </fieldset>
            
             <fieldset class="row2">
                <legend>Contacto</legend>
                <p>
                    {{ form_label(form.telefonoFijo, 'Teléfono Fijo:')}}
                    {{ form_widget(form.telefonoFijo)}}
                    {{ form_label(form.telefonoMovil, 'Celular:')}}
                    {{ form_widget(form.telefonoMovil)}}
                    {{ form_label(form.region, 'Región:')}}
                    {{ form_widget(form.region)}}
                    <br /><br />
                    {{ form_label(form.direccionDomicilio, 'Dirección Domiciliaria:')}}
                    {{ form_widget(form.direccionDomicilio)}}
                    {{ form_label(form.agente, 'Agente:')}}
                    {{ form_widget(form.agente)}}
                    {{ form_label(form.zona, 'Zona:')}}
                    {{ form_widget(form.zona)}}
                </p>
                <p>
                    {{ form_label(form.referenciaDireccion, 'Referencia de Dirección:')}}
                    {{ form_widget(form.referenciaDireccion)}}
                </p>
            </fieldset>

                 <fieldset class="row2">
                <legend>Información Laboral</legend>
                <p>
                    {{ form_label(form.empresa, 'Empresa:')}}
                    {{ form_widget(form.empresa)}}
                    {{ form_label(form.telefonoEmpresa, 'Teléfono Empresa:')}}
                    {{ form_widget(form.telefonoEmpresa)}}
                    {{ form_label(form.cargoEmpresa, 'Cargo:')}}
                    {{ form_widget(form.cargoEmpresa)}}       
                </p>
                   
                <p>
                 {{ form_label(form.direccionEmpresa, 'Direccion Empresa:')}}
                 {{ form_widget(form.direccionEmpresa)}}
                 {{ form_label(form.contratante, 'Contratante:')}}
                 {{ form_widget(form.contratante)}}
                 {{ form_label(form.tipo, 'Tipo:')}}
                 {{ form_widget(form.tipo)}}
                <p>
                 {{ form_label(form.referido, 'Referido:')}}
                 {{ form_widget(form.referido)}}
                 <div class="validation"> {{ form_errors(form) }}
                      {{ form_errors(form.email) }}
                      {{ form_errors(form.cedula) }}
                 </div>  
                <div id="oculto"> {{ form_widget(form.fechaRegistro)}}</div> 
               

                </p>   
                </p>
            </fieldset> 
             {{ form_rest(form) }} 
             <div>
                
                <button type="submit" class="button" id="registrar">Registrar</button>
                    <a class="enlace" href="{{ path('clientes') }}">&#60;&#60;Regresar a la lista</a>
               </div>
        
           {% for flashMessage in app.session.flashbag.get('notice') %}
            <div id="alert">
                <a class="alert" href="#alert">{{ flashMessage }}</a> 
            </div>
           {% endfor %}    
    </form>
   
      
{% endblock %}



 
